*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*cria variaves */
:root{
    --cor_menu: linear-gradient(to right,#0d1b2a,#415a77);
    

}

.cabecalho{
    background: var(--cor_menu);
    display: flex;
    justify-content: space-between;/*alilnha os elementos e separa eles. Ex;foto1-----------foto2*/
    align-items: center;/*Centraliza os elementos*/
    padding: 5px;

}

.cabecalho__detalhes_foto{
    border-radius: 50px;
    width: 40px;
    
}